@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Ma Shan Zheng', cursive;
    text-shadow: 0px 0px 10px #ff008c , 0px 0px 10px #ff4da6 , 0px 0px 10px #ff4da6;
}
.jumbotron {
    background-color: transparent;
    border-radius: 100px;
}
.headcontainer{
    margin-top: 25em;
}
.data{
    font-size: 30px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color:aqua;
    margin-top: -30px;
}

html{
    background-image: url('{% static "img/background.jpg" %}');
}

.continue-btn{
    font-family: 'Righteous', cursive;
    border-color: #ff008c;
    box-shadow: 0px 0px 20px yellow;
    border-radius: 100px;
    color: azure;
}

.continue-btn:hover{
    color:black;
    background-color: yellow;
    font-weight: 100em;
}

.homescreen{
    color: white;
}

.bottomElement{
    background-color: #ffffff;
}

.navbar-brand{
    font-family: 'Ma Shan Zheng', cursive;
}