@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
h1 {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Ma Shan Zheng', cursive;
    text-shadow: 0px 0px 10px #ff008c , 0px 0px 10px #ff4da6 , 0px 0px 10px #ff4da6;
}
.jumbotron {
    background-color: transparent;
    border-radius: 100px;
}
.headcontainer{
    margin-top: 550px;
}
.data{
    font-size: 30px;
    font-family: 'Righteous', cursive;
    text-align: center;
    color:aqua;
    margin-top: -30px;
}

html{
    background-image: url('{% static "img/background.jpg" %}');
}