@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
img {
    box-shadow: 0px 0px 50px rgb(235, 37, 37);
    border-radius: 75%;
    width: 200px;
    align-self: center;
    vertical-align: middle;
}
.btnexpand{
    color:antiquewhite;
    background-color: gray;
    opacity: 50%;
    align-self: center;
}
.btnexpand:hover{
    color:rgb(0, 0, 0);
    background-color: blueviolet;
    opacity: 100%;
}
.closecontainer{
    opacity: 100%;
}
.headcontainer{
    margin-top: 3em;
}
.container{
    margin-top: 0em;
    margin-left: 32em;  
    color:rgb(203, 206, 209); 
}
.form-text{
    font-size: xx-small;
    
}

.loginbtn{
    margin-left: 32em;
}